fastapi
uvicorn
python-multipart
supabase
langchain
langchain-community
langchain-groq
langchain-huggingface
langgraph
chromadb
pypdf2
python-docx
python-dotenv
#dateutil
python-dateutil
requests
pydantic
typing-extensions